<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Bootstrap Popper + JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- JQuery Stuff-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>ZLG-G Platform</title>
</head>
<body>
    <!-- NAVBAR AT TOP -->
    <nav class="navbar fixed-top navbar-dark navbar-expand-md bg-primary">
        <a class="navbar-brand" href="/">ZL-G Platform</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">☰ </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/flat_loader">FLAT-Loader</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data_catalogue">Data-Catalogue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/aql_builder">AQL-Builder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--/ NAVBAR -->

    <div class="container-fluid" id="main">
        <!-- MAIN Window -->
        <div class="row">
            <!-- SIDEBAR -->  <!-- SCROLL SPY FOR LATER: https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_scrollspy&stacked=h -->
            <div class="col-md-3 col-lg-2 pl-0" style="margin-top: 1%;" id="sidebar" role="navigation">
                <div class="sticky-top pt-5">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a class="nav-link" href="#uploadOPT">1. Upload OPT</a></li>
                        <li class="nav-item"><a class="nav-link" href="#selectData">2. Select Data</a></li>
                        <li class="nav-item"><a class="nav-link" href="#provideMapping">3. Provide Mapping</a></li>
                        <li class="nav-item"><a class="nav-link" href="#enterMetadata">4. Enter Metadata</a></li>
                        <li class="nav-item"><a class="nav-link" href="#uploadResources">5. Upload Resources</a></li>
                    </ul>
                </div>
            </div>
            <!--/col-->
            <!-- MAIN WINDOW -->
            <div class="col-md-9 col-lg-10 main" style="margin-top: 3.5%;">
                <!-- HEADING ROW-->
                <h1 class="display-3"> Data Catalogue </h1>
                <h1 class="display-7"> CKAN based</h1>
                <!--/row-->
            </div>
        </div>
        <!--/ MAIN WINDOW -->
    </div>
</body>
<!--/.container-->
<footer class="container-fluid" style="margin-top: 2%;">
    <p class="text-left small">2021 Zukunftslabor Gesundheit (ZL-G) - Zentrum für digitale Innovation Niedersachsen (ZDIN) by Ministerium für Wissenschaft und Kultur (MWK) </p>
</footer>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">About this web application</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body"> 
                <p>The web application is in an early developemnt stage.</p>
                <p>Contact:</p>
                <p>For questions about the development contact Jendrik Richter from the Department of Medical Informatics at the UMG in Göttingen. </p>
                <p>jendrik.richter@med.uni-goettingen.de</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</html>