<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Bootstrap Popper + JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- JQuery Stuff-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>ZLG-G Platform</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-dark navbar-expand-md bg-primary">
        <a class="navbar-brand" href="#">ZL-G Platform</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">☰ </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">FLAT-Loader</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Data-Catalogue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#myModal" data-toggle="collapse">AQL-Builder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" id="main">
        <!-- MAIN Window -->
        <div class="row">
            <!-- SIDEBAR -->
            <div class="col-md-3 col-lg-2 pl-0" style="margin-top: 1%;" id="sidebar" role="navigation">
                <div class="sticky-top pt-5">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a class="nav-link" href="#uploadOPT">1. Upload OPT</a></li>
                        <li class="nav-item"><a class="nav-link" href="#selectData">2. Select Data</a></li>
                        <li class="nav-item"><a class="nav-link" href="#provideMapping">3. Provide Mapping</a></li>
                        <li class="nav-item"><a class="nav-link" href="#enterMetadata">4. Enter Metadata</a></li>
                        <li class="nav-item"><a class="nav-link" href="#uploadResources">5. Upload Resources</a></li>
                    </ul>
                </div>
            </div>
            <!--/col-->
            <!-- MAIN WINDOW -->
            <div class="col-md-9 col-lg-10 main">
                <!-- HEADING ROW-->
                <h1 class="display-3"> FLAT_Loader </h1>
                <h1 class="display-7"> Map Table data to openEHR Templates</h1>
                <!--/row-->

                <!-- UPLOAD OPT -->
                <a id="uploadOPT"></a>
                <hr>
                <div class="row">
                    <div class="card col-lg-12 w-100">
                        <div class="card-body">
                            <p class="lead"> 1. Upload OPT</p>
                        </div>
                        <div class="row">
                            <!-- file upload -->
                            <div class="card col-lg-4">
                                <h5>File Upload</h5>
                                <form>
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Example file input</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                    </div>
                                </form>
                            </div>
                            <!-- login info -->
                            <div class="card col-lg-4">
                                <div class="Container">
                                    <h5>Login Info</h5>
                                    <form method="POST" action="setUserData">
                                        <div class="form-group input-group input-group-sm mb-3">
                                            <input type="text" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="username" placeholder="testvalue">
                                            <span class="input-group-text" id="basic-addon1">Base Adress</span>
                                        </div>
                                        <div class="form-group input-group input-group-sm mb-3">
                                            <input type="password" class="form-control" id="exampleInputPassword1" name="exampleInputPassword1" placeholder="Password" aria-label="password" aria-describedby="basic-addon5">
                                            <span class="input-group-text" id="basic-addon5">Password</span>
                                        </div>
                                        <small id="passwordHelp" class="form-text text-muted">Stored as Base64-Encoding (unsafe)</small>
                                        <!-- TODO Button auf die gleiche Hoehe wie der Button in der naechsten Card -->
                                        <div class="invisible" style="height: 50%">abc</div>
                                        <div class="input-group mb-3 justify-content-end">
                                            <button type="submit" class="btn btn-outline-secondary">Save in Config</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- ehr-repo info -->
                            <div class="card col-lg-4">
                                <h5>EHR-Repo Info</h5>
                                <div class="input-group">
                                    <div class="input-group input-group-sm mb-3">
                                        <input type="text" class="form-control" placeholder="e.g. http://141.5.100.119/ehrbase" aria-label="Username" aria-describedby="basic-addon1">
                                        <span class="input-group-text" id="basic-addon1">Base Adress</span>
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <input type="text" class="form-control" placeholder="e.g. /rest/openehr/v1" aria-label="ehrendpoint" aria-describedby="basic-addon1">
                                        <span class="input-group-text" id="basic-addon1">openEHR-Endpoint</span>
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <input type="text" class="form-control" placeholder="e.g. /ecis/..." aria-label="flatendpoint" aria-describedby="basic-addon1">
                                        <span class="input-group-text" id="basic-addon1">FLAT-Endpoint</span>
                                    </div>
                                    <!-- TODO Button nach rechts: justify-content-end not working -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-secondary">Save in Config</button>
                                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only justify-content-end">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Load Recent 1</a>
                                            <a class="dropdown-item" href="#">Load Recent 2</a>
                                            <a class="dropdown-item" href="#">Load Recent 3</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->

                <!-- SELECT DATA -->
                <a id="selectData"></a>
                <hr>
                <div class="row">
                    <div class="card w-100">
                        <div class="card-body">
                            <p class="lead"> 2. Select Data </p>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card w-100">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li class="text-capitalize"><code class="text-lowercase">text-capitalize</code> Capitalize each word</li>
                                <li class="text-uppercase"><code class="text-lowercase">text-uppercase</code> Uppercase text</li>
                                <li class="text-success"><code>text-success</code> Contextual colors for text</li>
                                <li><code>text-muted</code> <span class="text-muted">Lighten with muted</span></li>
                                <li><code>text-info</code> <span class="text-muted">Info text color</span></li>
                                <li><code>text-danger</code> <span class="text-muted">Danger text color</span></li>
                                <li><code>text-warning</code> <span class="text-muted">Warning text color</span></li>
                                <li><code>text-primary</code> <span class="text-primary">Primary text color</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card card-body">
                        <h4 class="card-title">Heading</h4>
                        <p class="card-text">So now that you've seen some of what Bootstrap 4 has to offer, are you going to give it a try?</p>
                        <p class="card-text"><small class="text-muted">Last updated 12 mins ago</small></p>
                    </div>
                </div>
                <!--/card-columns-->
                <!-- DATA PREVIEW -->
                <a id="preview"></a>
                <hr>
                <p class="lead"> Data Preview </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="card text-white bg-success overflow-hidden">
                            <div class="card-body bg-success">
                                <div class="rotate">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <h6 class="text-uppercase">Entrys in Data Set</h6>
                                <h1 class="display-1">134</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="card text-white card-info overflow-hidden">
                            <div class="card-body bg-info">
                                <div class="rotate">
                                    <i class="fa fa-twitter fa-5x"></i>
                                </div>
                                <h6 class="text-uppercase">Number of Data Items</h6>
                                <h1 class="display-1">125</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>#</th>
                                        <th>Label</th>
                                        <th>Header</th>
                                        <th>Column</th>
                                        <th>Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1,001</td>
                                        <td>responsive</td>
                                        <td>bootstrap</td>
                                        <td>cards</td>
                                        <td>grid</td>
                                    </tr>
                                    <tr>
                                        <td>1,002</td>
                                        <td>rwd</td>
                                        <td>web designers</td>
                                        <td>theme</td>
                                        <td>responsive</td>
                                    </tr>
                                    <tr>
                                        <td>1,003</td>
                                        <td>free</td>
                                        <td>open-source</td>
                                        <td>download</td>
                                        <td>template</td>
                                    </tr>
                                    <tr>
                                        <td>1,003</td>
                                        <td>frontend</td>
                                        <td>developer</td>
                                        <td>coding</td>
                                        <td>card panel</td>
                                    </tr>
                                    <tr>
                                        <td>1,004</td>
                                        <td>migration</td>
                                        <td>bootstrap 4</td>
                                        <td>mobile-first</td>
                                        <td>design</td>
                                    </tr>
                                    <tr>
                                        <td>1,005</td>
                                        <td>navbar</td>
                                        <td>sticky</td>
                                        <td>jumbtron</td>
                                        <td>header</td>
                                    </tr>
                                    <tr>
                                        <td>1,006</td>
                                        <td>collapse</td>
                                        <td>affix</td>
                                        <td>submenu</td>
                                        <td>footer</td>
                                    </tr>
                                    <tr>
                                        <td>1,007</td>
                                        <td>layout</td>
                                        <td>examples</td>
                                        <td>themes</td>
                                        <td>grid</td>
                                    </tr>
                                    <tr>
                                        <td>1,008</td>
                                        <td>migration</td>
                                        <td>bootstrap 4</td>
                                        <td>flexbox</td>
                                        <td>design</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <a id="provideMapping"></a>
                <hr>
                <h5 class="sub-header">3. Provide Mapping</h3>
                <div class="row">
                    <div class="col-lg-6 py-2">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#home1" role="tab" data-toggle="tab">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#profile1" role="tab" data-toggle="tab">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#messages1" role="tab" data-toggle="tab">Messages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#settings1" role="tab" data-toggle="tab">Settings</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <br>
                            <div role="tabpanel" class="tab-pane active" id="home1">
                                <h4>Home</h4>
                                <p> 1. These Bootstrap 4 Tabs work basically the same as the Bootstrap 3.x tabs. <br>
                                    <br>
                                    <button class="btn btn-outline-primary btn-lg">Wow</button>
                                </p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile1">
                                <h4>Pro</h4>
                                <p> 2. Tabs are helpful to hide or collapse some addtional content. </p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages1">
                                <h4>Messages</h4>
                                <p> 3. You can really put whatever you want into the tab pane. </p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="settings1">
                                <h4>Settings</h4>
                                <p> 4. Some of the Bootstrap 3.x components like well and panel have been dropped for the new card component. </p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-6">
                        <div class="card card-default card-body">
                            <ul id="tabsJustified" class="nav nav-tabs nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link" href="" data-target="#tab1" data-toggle="tab">List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="" data-target="#tab2" data-toggle="tab">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="" data-target="#tab3" data-toggle="tab">More</a>
                                </li>
                            </ul>
                            <!--/tabs-->
                            <br>
                            <div id="tabsJustifiedContent" class="tab-content">
                                <div class="tab-pane fade" id="tab1">
                                    <div class="list-group">
                                        <a href="" class="list-group-item"><span class="float-right badge badge-success">51</span> Home Link</a>
                                        <a href="" class="list-group-item"><span class="float-right badge badge-success">8</span> Link 2</a>
                                        <a href="" class="list-group-item"><span class="float-right badge badge-success">23</span> Link 3</a>
                                        <a href="" class="list-group-item text-muted">Link n..</a>
                                    </div>
                                </div>
                                <div class="tab-pane active" id="tab2">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <h4>Profile Section</h4>
                                            <p>Imagine creating this simple user profile inside a tab card.</p>
                                        </div>
                                        <div class="col-sm-5"><img src="//placehold.it/170" class="float-right img-fluid rounded"></div>
                                    </div>
                                    <hr>
                                    <a href="javascript:;" class="btn btn-info btn-block">Read More Profiles</a>
                                    <div class="spacer5"></div>
                                </div>
                                <div class="tab-pane fade" id="tab3">
                                    <div class="list-group">
                                        <a href="" class="list-group-item"><span class="float-right badge badge-info label-pill">44</span> <code>.panel</code> is now <code>.card</code></a>
                                        <a href="" class="list-group-item"><span class="float-right badge badge-info label-pill">8</span> <code>.nav-justified</code> is deprecated</a>
                                        <a href="" class="list-group-item"><span class="float-right badge badge-info label-pill">23</span> <code>.badge</code> is now <code>.label-pill</code></a>
                                        <a href="" class="list-group-item text-muted">Message n..</a>
                                    </div>
                                </div>
                            </div>
                            <!--/tabs content-->
                        </div>
                        <!--/card-->
                    </div>
                    <!--/col-->
                    <div class="col-lg-6">
                        <div id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Collapsible Group Item #1 </a>
                                </div>
                                <div id="collapseOne" class="card-body collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <p>This is a Bootstrap 4 accordion that uses the <code>.card</code> classes instead of <code>.panel</code>. The single-open section aspect is not working because the parent option (dependent on .panel) has not yet been finalized in BS 4 alpha. </p>
                                </div>
                                <div class="card-header" role="tab" id="headingTwo">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Collapsible Group Item #2 </a>
                                </div>
                                <div id="collapseTwo" class="card-body collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <p>Just like it's predecesor, Bootstrap 4 is mobile-first so that you start by designing for smaller devices such as smartphones and tablets, then proceed to laptop and desktop layouts.</p>
                                </div>
                                <div class="card-header" role="tab" id="headingThree">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Collapsible Group Item #3 </a>
                                </div>
                                <div id="collapseThree" class="card-body collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <p>Bootstrap employs a handful of important global styles and settings that you’ll need to be aware of when using it, all of which are almost exclusively geared towards the normalization of cross browser styles.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/col-->
                </div>
                <!--/row-->
            </div>
            <!--/main col-->
        </div>
    </div>
</body>
<!--/.container-->
<footer class="container-fluid">
    <p class="text-right small">2021 Zukunftslabor Gesundheit (ZL-G) - Zentrum für digitale Innovation Niedersachsen (ZDIN) by Ministerium für Wissenschaft und Kultur (MWK) </p>
</footer>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Large Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body"> This is a dashboard layout for Bootstrap 4. This is an example of the Modal component which you can use to show content. Any content can be placed inside the modal and it can use the Bootstrap grid classes. </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
</html>